# Bot Token [Required]
BOT_TOKEN=OTkxMzAzMTQ5MDE1MDExMzM4.GVgFgE.6CuMdx1JsxuE2L179ZhCNAJbaOKeMaHY88XLd0

# Mongo Database Connection String [Required]
MONGO_CONNECTION=mongodb+srv://FriendBot1:Vanzx6677@cluster0.vych0ve.mongodb.net/?retryWrites=true&w=majority

# Webhooks [Optional]
ERROR_LOGS=
JOIN_LEAVE_LOGS=

# Dashboard [Required for dashboard]
BOT_SECRET=
SESSION_PASSWORD=

# API Keys [Required for Weather Command]
WEATHERSTACK_KEY=

# SPOTFIY [Required for Spotify Support]
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
